body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: #ecf0f1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(209, 209, 209);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  /* background-color: #ffffff; */
  color: #000000;
  font-size: 14px;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #95a5a6;
  color: white;
}

.present {
  background-color: #c0392b;
  color: white;
}

.future {
  background-color: #16a085;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3498db;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  /* remove gold later */
  background-color: gold;
}
